* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body{
    background: linear-gradient(0deg,rgba(54, 113, 198, 1) 0%,  rgb(255, 255, 255) 100% );
    background-attachment: fixed;
}

.square{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    padding-left: 50px;
    padding-top: 50px;
}

.card{
    height: 100vh;
    display: flex;
    align-items: center; /* Vertically aligns the content */
    justify-content: space-between;
    margin: 0 auto;
}

h1{
    color: rgb(54, 113, 198);
  font-size: 2.3em;
  font-family: "Poppins", sans-serif;
  text-align: left;
  
}

form{
position: relative;
padding-top: 70px
}

input {
    border: 1px solid rgb(54, 113, 198)  ;
    border-radius: 15px;
    display: block;
    font-family: "Poppins", sans-serif;
    height: 60px;
    width: 600px;
    margin-bottom: 30px;
    margin-top: 10px;
    caret-color: black;
    text-align: left;
}

#password::placeholder{
    font-weight: bold;
}

label {
    display: inline;
    margin: 0.5rem 0;
    font-family: "Poppins", sans-serif;
    color: rgb(54, 113, 198);
  }

  input[type="checkbox"] {
    width: auto; /* Resets width */
    height: auto; /* Resets height */
    padding: 0; /* Resets padding */
    margin: 0; /* Adjust if needed */
    appearance: auto; /* Restores default styling */
    align-items: center; /* Aligns checkbox and label on the same line */
    display: inline;
    margin-right: 5px;
  }

  button[type="submit"] {
    display: block;
    width: 600px;
    height: 60px;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    background-color: rgb(91, 152, 238);
    border-color: rgb(54, 113, 198);
    border-radius: 15px;
    margin-top: 50px;
  }

  input[type="text"] {
    font-size: 18px;
    font-family: "Poppins", sans-serif;
    color: rgb(54, 113, 198); /* Text color */
    background-color: #f4f4f4; /* Background color */
    padding: 20px;
  }